* {
    font-family: 'Graphik', sans-serif;
}
body {
    background-color: #12374a;
}
.navbar{
    display: flex;
    padding: 20px;
    background-color: #072434;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.logoadx{
    width: 140px;
}   
.btncalculo{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.nav-link {
    color: #ffffff;
}
.btncalculo:focus{
    outline: none;
} 
.parametros{
    display:flex;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-top: 24px;
}
.resultados{
    display: flex;
    background-color: white;
    height: 500px;
    width: 100%;
    border-radius: 3px;
    margin-top: 2%;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    flex-direction: column;
}    
main{
    margin: auto;
    padding: auto;
    width: 85vw;
    
}

h1,h2,h3,h4,h5,h6{
    color: #ffffff;
}
.titulo_pagina{
    color: aliceblue; 
    display: inline; 
    margin-left: 1%;
    vertical-align: middle; 
    margin-top: 5px;
}

.button-link {
    display: inline-block;
    padding: 8px 16px; 
    border-radius: 4px; 
    background-color: #fa5151;
    color: #ffffff; 
    text-decoration: none; 
    text-align: left;
}

.button-link:hover {
    background-color: #f57070; 
}


#Relatorio {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f2f2f2;
}

input:invalid {
    border-color: red;
}
